@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #201E1F;
}

.container .avatar {
  width: 375px;
  border-radius: 200px;
  margin: 0 auto;
  margin-top: 40px;
  display: block;
}

.container .name {
  color: #fff;
  font-size: 120px;
  font-family: 'Sansita Swashed', cursive;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  letter-spacing: 1px;
}

.container .subtitle {
  text-align: center;
  margin-top: 15px;
  font-size: 55px;
  font-family: 'Carter One', cursive;
  color: #4cd3c2;
  font-weight: bold;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.container .description {
  text-align: center;
  font-size: 29px;
  margin-bottom: 100px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}


.container .title-skills {
  font-size: 60px;
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.container .skills {
  text-align: center;
  letter-spacing: 8px;}

.container .skills i {
  font-size: 80px;
}

.container .skills .js-icon {
  font-size: 70px;
  color: yellow;
}

.container .skills .mongodb-icon {
  color: green;
} 

.container .skills .bootstrap-icon {
  font-size: 70px;
}

.container .projects .projects-title {
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  margin-top: 100px;
}

.container .projects .see-projects {
  color: #fff;
  font-size: 30px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  margin-top: 20px;
}

.container .projects .see-projects a {
  color: #fff;
}

.container .projects .see-projects a:hover {
  opacity: .5;
}

 footer .copy {
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-top: 40px;
}
